.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-left: 90px;
    margin-top: calc(60px + 1vh);
    padding-bottom: 4vh;
  }
  
  .project {
    width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .project-date {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .project ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .project li {
    margin-bottom: 5px;
  }
  
  .project li a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project li a:hover {
    text-decoration: underline;
  }
  